

.blog-title {
  color: var(--text-h);
  font-size: 1.2rem;
  margin: 0;
}

.article {
  flex: 1;
  background-color: var(--bg);
  padding: 2em;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

