.blog-post {
    flex: 1;
    min-width: 0;              
    background-color: var(--bg);
    padding: 2rem;
    overflow-y: auto;
    text-align: left;
}

.blog-title {
    color: var(--text-h);
    font-size: 1.2rem;
    margin: 0;
}